node_modules/
.next/
out/
build/
dist/

*.db
*.db-journal
*.sqlite
prisma/dev.db*
prisma/*.db*

.env
.env.local
.env*.local

.media/

.DS_Store
*.log
npm-debug.log*

.vercel
next-env.d.ts
tsconfig.tsbuildinfo
